<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czy.admin.czyproject">


    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NetWork.OkHttp.OkHttpActivity"
            />
        <activity
            android:name=".RxJava.RxJavaActivity"
            />
        <activity
            android:name=".NetWork.HttpConnection.HttpActivity"
            />
        <activity
            android:name=".Gson.GsonActivity"
            />
        <activity
            android:name=".FileOperate.FileOperateActivity"
            />
        <activity
            android:name=".View.RecycleView.RecycleViewActivity"
            />
        <activity
            android:name=".ThreadWork.HandlerActivity"
            />
        <activity
            android:name=".ThreadWork.AsyncTaskActivity"
            />
        <activity
            android:name=".View.Fragment.FragmentMainActivity"
            />
        <activity
            android:name=".ContentProvider.ContentProviderActivity"
            />
        <activity
            android:name=".View.Fragment.FragmentDialog.FragmentDialogActivity"
            />
        <activity
            android:name=".View.DrawerLayout.DrawerLayoutActivity"
            />
        <activity
            android:name=".View.NavigationView.NavigationViewActivity"
            />
        <activity
            android:name=".Activity.ViewActivity"
            />
        <activity
            android:name=".View.MaterialDesign.MaterialDesignActivity"
            />
        <activity
            android:name=".Activity.NetWorkActivity"
            />
        <activity
        android:name=".Activity.ThreadWorkActivity"
        />
        <activity
            android:name=".Proprety.PropretyActivity"
            />
        <activity android:name=".ThreadWork.JavaThreadActivity"/>

        <activity android:name=".View.CustomView.MyFirstCustomerViewActivity"/>
    </application>

</manifest>